  /* bootstrap extend */ 
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
 body{color: #343f52;}
 .match-height{overflow: hidden;}
 a{color: #4687c7;}
 .btn-link{color: #4687c7;}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
body{background-color: #f2f4f7;}
.blue-btn {color: #fff;background-color:#468ac9;border-radius: 5px;font-size: 12px; }
.blue-btn:hover{color: #fff;} 
span.plus {font-size: 20px;line-height: 15px;}
.navbar-form {padding:0px;}
.navbar-form .input-group{width: 100%;}
.dropdown-toggle{width: 100%;}
span.caret{float: right;margin-top: 10px;}
.inline-form{display: inline-block;}
.table>tbody>tr>td{vertical-align: middle;}
 /* Navbar */ 
 .navbar{background-color:#fff;border-color:#fff;padding: 10px 0;}
 .navbar-brand>img {height: 50px;}
 .navbar-brand{padding: 0px 15px;}
 .navbar-inverse .navbar-nav>li>a{font-size: 16px;color:#7f8fa4;}
 .navbar-inverse .navbar-nav>li>a:hover{color: #f3a521;}
 .user-admin{float: right;}
 .user-admin a{color:#9398a0;font-size: 16px; }
 .user-admin a:hover{text-decoration: none;}
 .user-admin img{height: 50px; padding: 0px 15px;}


 /* Dashboard */ 
 .dash-button{width: 100%;display: inline-block;padding: 15px;}
 .dash-button a{color: #fff;}
 .active-button{background-color:#468ac9;}
 .overdue-button{background-color:#f3a521;}
 .tasksoverdue-button{background-color:#ef495d;}
 .l-half{float: left;width: 50%;text-align: center;font-size: 35px;}
 .l-half p{margin-bottom: 0;}
 .r-half{float: right;width: 50%;}
 .r-half p.dash-desc{text-transform: uppercase;font-size:16px;margin-bottom: 0;padding-top: 5px; }
 .full{margin-top:20px;float: left;width: 100%;text-align: center;}
 .full p{margin-bottom: 0;text-decoration: underline;text-transform: uppercase;font-size: 12px;}
 .project-status{padding :15px 0 5px;background-color: #fff;margin-bottom: 20px;border-radius: 10px;border:4px solid #e6e9ec;}
 .search-filter{margin-bottom: 20px;}
 .completion-view{margin-bottom: 80px;}
 .configue-options{float: right;}
 .configue-options img{width: 30px;margin-right: 10px;}
 .project-name img{width: 50px;float: left;margin-right: 10px;}
 .project-name h3{margin: 0;font-size: 22px;}
 .project-controls img{width: 30px;}
 .project-controls img.time-icon{float: left;}
 .project-controls{text-align: right;margin-top: 7px;}
 .pm-name{margin-top: 10px;}
 .progress{display: inline-block;width: 100%;margin-bottom: 0;}
 .above-project{float: left;font-size: 12px;color: #343f52;}
 .above-project span{color: #a1a8ba;}
 .project-status p.progress-start{margin-right: 20px;}
 .project-status p.progress-original{margin-right: 20px;}
 .project-status p.progress-current{}
 .progress span, .progress p{color: #000;}
 .progress-bar-success{background-color:#d7d8d8; }
 .progress-bar-warning{background-color:#81cdbf;}
 .progress-bar-danger{background-color:#f6a0ac;}
 .search-filter .dropdown-toggle{text-align: left;}
 .search-filter .navbar-form{margin-top: 30px;}
 .search-filter p{color: #a1a8ba;}

 /* Projects */ 
.sidebar {padding: 15px 0; background-color:#fff;margin-bottom: -99999px;padding-bottom: 99999px; }
.sidebar .navbar-form .input-group .input-group-btn{width: 39px;}
.sidebar .navbar-form {margin: 0 10px 20px;}
ul.sidebar-project li{list-style: none;padding: 15px 5px;}
ul.sidebar-project li a{color:#636b6f;display: inline-block;width: 100%;}
.sidebar-project{padding: 15px 5px;}
.sidebar-project .triangle{position:relative;float:right;margin-top:-15px;margin-right:-5px;width: 0;height: 0;border-style: solid;border-width: 0 15px 15px 0;border-color: transparent #ffffff transparent transparent;}
.sidebar-project img{width: 30px;float: left;margin-right: 10px;}
.sidebar-project h3{font-size: 13px;margin: 0;}
.sidebar .blue{background-color: #468ac9;}
.sidebar .blue h3{color: #fff;}
img.clock{margin-left: -12px;}
.configue-options img.open-ico {margin-left: 10px;}
.configue-options p{color: #468ac9; text-align: right;}
.single-progress-bar{padding: 5px 15px 15px;background-color: #fff;margin:20px 0 60px;}
.single-progress-bar p{margin: 0 40px 0 0;}
.single-progress-bar p:last-of-type{float: right;margin: 0;}
p.status span{color:#ef495d; }
p.status {font-size: 12px;}
.single-project .project-name h3{font-size: 18px;}
.single-project .project-name p{color:#a1a8ba;font-size: 12px;}
.single-project .pm-name{font-size: 12px;margin-top: 12px;}
p.status img{margin-left: 10px;}
.project-page .dropdown-toggle{text-align: left;}
.space{margin-top: 25px;}
.filters p{color:#a1a8ba;font-size: 12px;margin-bottom: 5px;}
.table-container{background-color: #fff;padding: 10px 0;margin-top: 5px;}
.table-container img{width: 30px;margin-left: 5px;margin-right: 5px;}
.table-container img.arrow-right {width: 20px;}
.right {float: right;}
img.checkbox {width: 20px; margin-top: 5px;}
.striped {background-color:#f3f3f3; }
#accordion p{margin:5px 0;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#f3f3f3; }
.table>thead>tr>th{color:#a1a8ba;font-size: 12px;} 
.table-headers p{color:#a1a8ba;font-size: 12px; }
 /* Add procurement */ 
.sidebar-form p{margin:10px 0 0;color:#a1a8ba;}
.sidebar-form .navbar-form{margin: 0;}
.sidebar-form .dropdown .btn {text-align: left;}
.sidebar-form h3{margin-bottom: 40px;}
.new-procurement {margin-bottom: 40px;}
.new-procurement p{color:#a1a8ba;}
.new-procurement span{color: #354052;}
a.save-button img{width: 20px;margin-right: 20px;margin-top: -5px;}
a.save-button{float: right;margin-top: 20px;text-transform: uppercase;padding-right: 30px;padding-top: 10px;}
 /* tasks */ 
.sidebar .filter p{margin: 10px 0 0;color:#a1a8ba;}
.sidebar .filter{padding: 0 10px;margin-bottom: 20px;}
.tasks-page tbody{font-size: 12px;}
.tasks-page .table-container p{font-size: 12px;color:#a1a8ba;}
 /* System Config */ 
.system-page tbody{font-size: 12px;}
.inline-form .form-group{margin-bottom: 0;}
 /* Modal */ 
.modal-title img{width: 40px;}
.modal-title span{margin-top: 10px;}
.modal-header {background-color: #d8dde6;}
input.half{width: 50%;}
.modal-body p{margin: 10px 0 0; color:#a1a8ba; }
.modal-body .navbar-form {margin: 0;}
.modal-footer{text-align: center;}
.modal-footer .btn img{width: 20px; margin: 0 10px;}
.cancel-btn {float: left;margin-top: 5px;color:#a1a8ba; }
.previous-btn {color:#a1a8ba;margin-right: 30px;}
.next-btn {color:#a1a8ba;}

 /* Footer */ 
 .footer-area {background-color: #fff;padding: 10px 0;margin-top: 30px;}
 .app-logo img{height: 60px;}
 .support {float: right;}
 .support a, .support a:hover{color:#7f8fa4; text-decoration: none;}
 .support img{height: 60px;}